@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Manrope:wght@200..800&family=Oranienbaum&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://api.fontshare.com/v2/css?f[]=satoshi@300,400,500,700,900&display=swap');
@import "tailwindcss";

@theme {
  --font-manrope: Manrope, 'sans-serif';
  --font-instrument-serif: Instrument Serif, 'sans-serif';
  --font-oranienbaum: Oranienbaum, 'sans-serif';
  --color-black: #000000;
  --color-primary: #0088FF;
  --color-dark: #000000;
}

@variant dark (.dark &);

@layer base {
  body {
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
}

.bounce-custom {
  animation: bounceCustom 1.5s ease-in-out infinite;
}

@keyframes bounceCustom {
  0%, 100% {
    transform: translateY(7px);
  }
  50% {
    transform: translateY(2px);
  }
}